@import "normalize";

html {
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Trebuchet MS", "Comfortaa", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: bold;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #2f6ed3, #5095e4, #5095e4, #2f6ed3);
  box-shadow: none;
  border: 0;
  outline: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: rgba(#8186a0, 0.52);

  &:hover {
    background-color: rgba(#0a468a, 0.65);
  }
}
